data/kolmogorov/
data/lorenz63/
data/Cylinder/
data/2DAdvdiffEq/
data/CHAP/

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

__pycache__/

results/
