data/kolmogorov/
data/lorenz63/
data/Cylinder/
data/cylinder/
data/dam/
data/2DAdvdiffEq/
data/CHAP/
data/ERA5/
data/ERA5_high/raw_data/
data/kol/

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

__pycache__/

results/AE/
results/CGKN/
results/DBF/
results/discreteCGKN/
results/DMD/
results/KAE/
results/WAE/
results/KKR/
results/Comparison/figures/*.png
results/Comparison/figures/*1.gif
results/Comparison/figures/*2.gif
results/Comparison/figures/*3.gif
results/Comparison/figures/*4.gif
results/Comparison/figures/era5_da_fullobs.gif
results/Comparison/figures/era5_da_interobs_channel0.gif

*.err
*.out

saved_models/

.ipynb_checkpoints/

*.log

*model_weights*

